/*Air pollution in poor neighborhoods {
  display: flex;
  flex-direction: columns;
  align-items:center;
} */

body {
  text-align: center;
}

li {
  /* list-style: circle inside;*/
}
.card { 
  */ background-color: #eeefff;*/
  
  
}
  